.custom-dropdown-menu .ant-dropdown-menu {
    background-color: #1F1F1F;
    width: 240px;
    height:120px;
  }
  
  .custom-dropdown-menu .ant-dropdown-menu-item {
    color: #ffffff;
  
  }
  
  .custom-dropdown-menu .ant-dropdown-menu-item:hover {
    background-color: #5A5A5A;
    color: #ffffff;
  }
  
  .custom-dropdown-menu .ant-dropdown-menu-item-selected {
    background-color: #5A5A5A;
    color: #ffffff;
  }