@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.ant-layout-sider-trigger {
  background-color: #2d2d2d !important;
  border-top: 1px solid rgba(74, 75, 76, 0.5);
  border-right: 1px solid rgba(74, 75, 76, 0.5);
}

.categories {
  border-right: 1px solid rgba(74, 75, 76, 0.5);
  background-color: #171717;
  box-sizing: content-box !important;
}

.blocks {
  border-right: 1px solid #5a5a5a;
  width: 40px !important;
  background-color: #181818;
  padding: 16px;
}

.categ .ant-menu-item {
/* Отступы для иконки и текста */
  padding: 0px 15px !important;
  border-radius: 0px;
  font-family: "Inter", sans-serif !important;
  margin: 0px !important;
  width: 100%;
  height: 46px;
  align-items: center; /* Выравниваем иконку и текст по центру */
  display: flex;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  box-sizing: content-box;
}


.ant-menu-item-selected {
  background-color: #1F1F1F !important;
  color: #fff !important;
  border-bottom: 1px solid rgba(74, 75, 76, 0.5) !important;
  border-top: 1px solid rgba(74, 75, 76, 0.5) !important;
  border-right: 2px solid rgba(74, 75, 76, 0.5);
  box-sizing: content-box;
}
.categ {
  background-color: #171717;
  padding-top: 33px;

}


/* Скрываем текст при сворачивании */


.ant-layout-sider-collapsed .ant-menu-title-content {
  display: none;
}

/* Фикс выравнивания иконки */
.ant-layout-sider-collapsed .img_categ {
  margin: 0 auto;
  display: block;
}

.img_categ {
  width: 30px !important;
  height: 30px !important;
  object-fit: contain;
  transition: all 0.2s ease; /* Добавляем плавную анимацию */
}
.ant-menu-item .ant-menu-item-icon {
  min-width: 30px !important;

}
