@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.DropDownButton{
  margin:10px 5px;
  background-color: #181818;
  color:#ffffff;
  border:1px solid #181818;
  font-family: "Inter", sans-serif !important;
  
}
.DropDownButton:hover{
  background-color:#3D3D3D !important;
  border:1px solid rgba(62, 171, 204, 0.5)  !important;
  color:#ffffff !important
}
  
.custom-dropdown-menu .ant-dropdown-menu {
  background-color: #1F1F1F;
  color: #ffffff;
  border: 1px solid rgba(62, 171, 204, 0.5) ;
  padding: 5px;
  font-family: "Inter", sans-serif !important;
}

.ant-dropdown-menu-item:hover {
  background-color: rgba(62, 171, 204, 0.5) !important;
  color: #ffffff;
  
}


.ant-dropdown-menu-item .ant-checkbox-input{
  color: #ffffff !important;
}

.ant-dropdown-menu-submenu-title:hover{
  background-color: rgba(62, 171, 204, 0.5)  !important;
  color: #ffffff;
}

.ant-dropdown-menu .ant-dropdown-menu-sub {
  background-color: #1F1F1F;
  border: 1px solid rgba(62, 171, 204, 0.5) ;
  font-family: "Inter", sans-serif !important;
}

.ant-dropdown-menu-title-content{
  padding: 0px 40px 0px 10px;
  color: #ffffff;
  font-family: "Inter", sans-serif !important;

}



.ant-checkbox-label{
  font-family: "Inter", sans-serif !important;
  color: #ffffff;
}

.custom-checkbox .ant-checkbox-inner {
  background-color: #1F1F1F; 
  border-color:#555770; 
  width:14px;
  height:14px;
  border-width: 2px;
  border-radius: 2px;
  
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner{

  background-color: #ffffff; 
  border-color:#ffffff;

}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner::after {
  border-color:#1F1F1F;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner {
  background-color: #ffffff !important; 
  border-color:#ffffff !important;
}