
.ant-splitter-bar-dragger::before{
  background-color:  #5A5A5A !important;
  width: 1px !important;
}
.ant-splitter-bar-dragger-active::after{
  background-color:  #5A5A5A !important;
  width: 1px !important;
}
.Workspace{
  background-color: #1B1B1B;

}
.SplitTop{
  background-color: #1F1F1F;
  padding: 0px 0px !important;
  overflow:hidden ;
}
.SplitBottom{
  border-top:1px solid#5A5A5A;
  background-color: #1B1B1B;

}
.SplitRight{
  border-left:1px solid#5A5A5A;
  background-color: #1B1B1B;
  padding: 80px 0px !important;
  vertical-align: middle !important;
}


.ant-tabs-content-holder{
  height: 100%;
  overflow: hidden;

}
.ant-splitter-bar-collapse-bar{

  width:20px !important;
  height:30px !important;
  background-color: rgba(62, 171, 204, 0.5) !important;

}
.SplitLeft .ant-splitter-bar-collapse-bar{
  width:30px !important;
  height:20px !important;
  background-color: rgba(62, 171, 204, 0.5) !important;


}
