.hexagon-pseudo {
    position: relative;
    width: 70px;
    height: 60px;
    background: #0FBD8C;
    margin: 20px 0;
  }
  
  .hexagon-pseudo:before,
  .hexagon-pseudo:after {
    content: '';
    position: absolute;
    width: 28px;
    height: 100%;
    background: inherit;
  }
  
  .hexagon-pseudo:before {
    left: -14px;
    transform: skew(20deg);
  }
  
  .hexagon-pseudo:after {
    right: -14px;
    transform: skew(-20deg);
  }
  
  .hexagon-pseudo span {
    position: relative;
    z-index: 1;
    color: white;
    display: block;
    padding: 15px;
  }