
.blocklyMainBackground {
  fill: #1F1F1F  !important;
  stroke:none !important;
}

.blocklyScrollbarHandle {
  fill: #6c757d !important;
}
.blocklyFlyoutBackground {
  fill: #1F1F1F  !important;
  fill-opacity: 0  !important;
}