.draggable {
  -webkit-app-region: drag;
}

.nonDraggable {
  -webkit-app-region: no-drag;
}

#titleBarContainer {
  height: 43px;
  width: 100%;
  min-height: 43px;
  max-height: 43px;
  background-color:#181818;
  border-bottom:1px solid rgba(74, 75, 76, 0.5);
  box-sizing: border-box;
}

#titleBar {
  display: flex;
  height: 100%;
  color: #FFFFFF;
  font-weight: bold;
  text-align: left;

}

#titleBar > img{
  height: 24px;
  margin: 10px 25px  0px 18px;
}
