.draggable {
  -webkit-app-region: drag;
}

.nonDraggable {
  -webkit-app-region: no-drag;
}

#titleBarContainer {
  height: 46px;
  width: 100%;
  background-color:#181818;
  border-bottom:1px solid rgba(74, 75, 76, 0.5);
}

#titleBar {
  display: flex;
  height: 100%;
  color: #FFFFFF;
  font-weight: bold;
  text-align: left;

}

#titleBar > img{
  height: 24px;
  margin:11px 30px 11px 13.5px;
}

